.login__container {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 1px 1px 20px 1px #cccccc;
}

.login__containerHeader p {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
}

.login__input {
  padding: 8px;
  font-size: 17px;
  margin-right: 10px;
  display: block;
  width: 100%;
  border: 1px solid #95a5a6;
  margin-bottom: 15px;
  outline: none;
}

.login__loginButton {
  margin-top: 20px;
  background-color: #2980b9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
